# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Doxygen documentation output
html/
latex/
xml/
man/
docs/
doxygen_sqlite3.db
doxygen.log

# Doxygen cache / intermediate files
*.tmp
*.cache

# CMake / build directories
build/
cmake-build-*/

# IDE / editor folders
.vscode/
.idea/

# Saves / runtime data
saves/
save/
*.save